body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: aquamarine;
    padding: 5px;
    margin-bottom: 30px;
    text-align: center;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.container {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 5px;
    padding: 15px;
}
form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}
form div {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.selesaiDibaca {
    display: inline;
}

input {
    height: 22px;
    border: 1px solid;
    border-radius: 3px;
    background-color: lightgray;
}

button {
    background-color: aquamarine;
    border: none;
    border-radius: 3px;
    padding: 5px;
}
.btn-book {
    display: flex;

    gap: 10px;
}
